// COLORS
$tortilla: #c69963;
$dark-tortilla: #b28451;
$dark-blue: #101d2c;
$brown: #6d5d4b;
$dark-brown: #54483a;
$white-smoke: #fef9ef;
$grey: #6d6875;

// BREAKPOINTS
$bp-large: 75em;
$bp-medium: 50em;
$bp-small: 37.5em;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Segoe UI";
  color: $brown;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows:
    80vh
    min-content
    40vw
    repeat(3, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start]
    repeat(8, [col-start] minmax(min-content, 14.25rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 100vh;
  }
}
