.footer {
  background-color: $dark-blue;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-0.3rem);
  }
}

.copyright {
  margin-top: 6rem;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}
